* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.heroimage {
  height: 40em;
  max-width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../Images/starwarsheader.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/starwarsheader.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 3;
      grid-column-end: span 3;
}

Main {
  width: auto;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 5% 1fr;
      grid-template-rows: 1fr 5% 1fr;
  background-color: black;
}

Main .infoDivider {
  background-color: #d0ff00;
  border: thick, #d0ff00;
  height: 100%;
  text-align: center;
  font-style: italic;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
}

Main .galleryContainer {
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  border: thin, #d0ff00;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  gap: 10%;
  padding: 2%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

Main .galleryContainer__galleryImage-rey {
  border: thick, #d0ff00;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

Main .galleryContainer__galleryImage-poe {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

Main .galleryContainer__galleryImage-finn {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

Main .galleryContainer__galleryImage-ben {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  -ms-grid-column: 4;
      grid-column-start: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

Main ul {
  -webkit-columns: 16;
          columns: 16;
  padding: 6px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  color: #d0ff00;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #000000;
  color: #d0ff00;
  margin: 15% auto;
  padding: 20px;
  border: 4px solid #d0ff00;
  width: 80%;
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 20px;
  background-color: rgba(126, 146, 38, 0.823);
}
/*# sourceMappingURL=Mainsite.css.map */